<footer class="d-flex flex-wrap justify-content-between align-items-center ">
    <div class="col-md-4 d-flex align-items-center" style="margin-left: 2%;">
        <span class="text-muted">© 2022 TECDevs</span>
    </div>

    <ul class="nav col-md-4 justify-content-end social">
        <li class="ms-3"><i class="fa-brands fa-instagram"></i></li>
        <li class="ms-3"><i class="fa-brands fa-github"></i></li>
        <li class="ms-3"><i class="fa-solid fa-envelope"></i></li>
    </ul>
</footer>