<header></header>
<section class="container">
    <div class="box"></div>
    <div class="RegisterBox">
        <h1>Sign Up</h1>
        <form class="registerForm" [formGroup]="userAccount">
            <input type="text" class="form-control" formControlName="username" placeholder="Username">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <input type="password" class="form-control" formControlName="passwordValidator" placeholder="Confirm Password">
            <input type="button" class="btn btn-primary btn-block" value="Sign Up" (click)="register()" [disabled]="!userAccount.valid">
        </form>
        <br>
        <div class="terms">
            <label>By clicking the Sing Up button you agree to our <a class="button" style="text-decoration: none;">Terms & Conditions, Provacy Policy</a></label>
        </div>

    </div>
</section>
<footer></footer>