.container {
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/sky-319546_1920.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    position: relative;
    align-self: center;
    background-color: white;
    opacity: 50%;
    width: 408px;
    height: 605px;
    border-radius: 20px;
}

.RegisterBox {
    position: absolute;
    align-self: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;
}

.form-check {
    display: flex;
    width: 300px;
}

.labeltag {
    align-self: flex-start;
    margin-left: 13%;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-control {
    margin: 15px 0px 15px 0px;
    width: 300px;
}

.terms {
    color: white;
    width: 300px;
    font-size: 12px;
    text-align: center;
}