<header></header>
<section class="container">
    <div class="box"></div>
    <div class="RegisterBox">
        <h2>Reset your password</h2>
        <p style="text-align: center; font-size: small; width: 300px;">
            Strong password include numbers, latters, and punctuation marks.
        </p>
        <form class="registerForm">
            <input type="password" class="form-control" id="inputPassword" placeholder="Enter new Password">
            <input type="password" class="form-control" id="inputPassword" placeholder="Confirm new Password">
            <input type="button" class="btn btn-primary btn-block" value="Reset password" style="margin-top: 15px;" (click)="onChangePassword()">
        </form>
        <br>

    </div>
</section>
<footer></footer>